<div class="modal-backgrop">
    <div class="stack-editor-modal-container">
        <h2 class="modal-title">{{title()}}</h2>
        <button class="modal-close-button">
            <ng-icon name="remixCloseFill" class="close-icon" />
        </button>
        <label for="stack-name-input" class="stack-name-input-label">STACK NAME</label>
        <input type="text" id="stack-name-input" class="stack-name-input" placeholder="e.g. C# Fundamentals">
        <div class="cancel-save-buttons-container">
            <button class="cancel-button">Cancel</button>
            <button class="save-button">Save</button>
        </div>
    </div>
</div>

