<p>study works!</p>
<app-back-link></app-back-link>
@if (stackResource.hasValue()) {
  <p>{{ stackResource.value()?.name }}</p>
}

@if (cardResource.hasValue()) {
  <p>{{ currentIndex() + 1 }} of {{ cardCount() }}</p>
}

@if (currentCard(); as card) {
  <p>{{ isFlipped() ? card.answer : card.question }}</p>
  <button type="button" (click)="previous()" [disabled]="!hasPrevious()">Previous</button>
  <button type="button" (click)="flip()">Flip</button>
  <button type="button" (click)="next()" [disabled]="!hasNext()">Next</button>
}
